.aboutContainer {
    display: flex;
    width: 100%;
    height: fit-content;
    font-family: 'PT Sans Narrow', sans-serif;
    align-content: center;
    justify-content: center;
    background: transparent;
    color: black;
    margin-bottom: 2%;
    perspective: 30px;
}


.aboutText {
    display: flex;
    flex-direction: column;
    margin: 100px 0% 0% 0%;
    align-self: center;
    justify-self: right;
    width: 50.5%;
    height: 20rem;
    text-indent: 1rem;
    font-size: 2rem;
    box-shadow: 0px 0px 25px 10px #9bcfff;
    background: white;
    color: black    ;
    overflow: hidden;
    transition: all 2s ease-in-out;
    touch-action: auto;

}

  .aboutText:hover {
    touch-action: auto;
    transform: scale(1.1);
    transition: all 2s ease-in-out;
    box-shadow: 0px 0px 50px 10px #5fb1ff;
    height: 37rem;
    z-index: 1;
    margin: 100px 0% 0% 0%;
  }



.paragraph {
    margin: 20px;
}

.imageDiv {
    display: flex;
    align-self: center;
    position: relative;
    width: 300px;
    aspect-ratio: 1 / 1;
    border-radius: 40px;
    margin-bottom: 2%;
}

@media(max-width:900px) {
    .aboutContainer {
        width: 100%;
        font-size: .5rem;
        height: fit-content;
    }
    .aboutText {
        width: 80.5%;
    }
}

@media(max-width:1080px) {
    .aboutContainer {
        width: 100%;
        font-size: .5rem;
        height: fit-content;
    }
    .aboutText {
        width: 80.5%;
    }
}
