.aboutContainer {
    display: flex;
    width: 100%;
    height: 1000px;
    align-content: center;
    justify-content: center;
    background: transparent;
    perspective: 30px;
}
.aboutText {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: fit-content;
    text-indent: 1rem;
    font-size: 2rem;
    color: black;
    transition: all 2s ease-in-out;
    background: transparent;
    position: relative;
    border-radius: 10px;
    align-self: flex-start;
    margin-left: 5%;
}

.paragraph {
    margin-top: 50px;
    font-size: 1.5rem;
}

.samplesContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: 1000px;
    background-color: transparent;
    background-image: url("../public/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    align-items: center;
    overflow: scroll;
    scrollbar-width: none;
}

.appContainer {
    display: flex;
    flex-direction: row;
    width: 100vmax;
    height: 100vh;
}

@media(max-width:1100px) {
    .samplesContainer {
        width: 100%;
        font-size: 1rem;
        height: 100vh;
    }
    .aboutText {
        width: 95%;
        font-size: 1rem;
    }
    .appContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        font-size: 1rem;
    }
    .paragraph {
        font-size: 1rem;
    }
}