* {
    padding: 0px;
    margin: 0px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.typed-cursor {
    display: inline;
    font-size: 24px;
    opacity: 1;
    animation: blink .3s infinite;
    color: white;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

