.navBar {
    display: flex;
    width: 100vw;
    max-height: fit-content;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.5rem;
    align-content: flex-start;
    /* gap: 50px; */
}

.header {
    display: flex;
    width: fit-content;
    position: relative;
    background-image: none;
    /* left: 35%; */
}

.text {
    display: flex;
    justify-self: center;
    width: fit-content;
}

/* @keyframes color-change {
    0% { color: #031497; }
    50% { color: black; }
    100% { color: #031497; }
  } */

.menuButton {
    position: relative;
    color: white;
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 50px;
    z-index: 1;
    background: #5fb1ff;
}
.menuButton:hover {
    scale: 1.02;
    outline: none;
    cursor: pointer;
}

.dropdownDiv:hover .dropdown {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 350px;
    font-size: 1rem;
    margin-top: 11px;
    background: #5fb1ff;
}

.dropdownDiv {
    display: flex;
    position: absolute;
    width: 200px;
    height: 50px;
    margin-top: 10px;
    color: white;
    margin-right: 75rem;
}

.dropdown a:hover {
    border-radius: 10px;
    scale: 1.1;
}
.dropdown {
    display: none;
    position: absolute;
    border-radius: 10px;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* left: 10px; */
    top: 50px;
    max-width: 200px;
    color: white;
}

.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: white;
  }

  .buttonRow {
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 100%;
    justify-content: center;
  }


@media (max-width:1441px) {
    .dropdownDiv {
        margin-right: 60rem;
    }
}
  