.navBar {
    display: flex;
    position: relative;
    min-width: 20rem;
    height: 100vh;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.5rem;
    gap: 50px;
    background: rgb(231, 231, 231);
}

.header {
    display: flex;
    width: fit-content;
    background-image: none;
    font-size: 1.5rem;
    background: black;
    color: rgb(231, 231, 231);
}

.text {
    display: flex;
    background: black;
    border-bottom-right-radius: 5px;
}

.menuButton {
    position: relative;
    color: rgb(231, 231, 231);
    border: none;
    border-radius: 5px;
    width: 7.2rem;
    height: 2.6rem;
    z-index: 1;
    background: black;
}
.menuButton:hover {
    scale: 1.02;
    outline: none;
    cursor: pointer;
}

  .buttonRow {
    display: flex;
    position: relative;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    top: 2%;
    align-self: center;
    background: transparent;
    gap: 15px;
  }

  .contactMe {
    display: flex;
    position: relative;
    font-size: 1.2rem;
    align-self: center;
    margin-top: 5%;
  }

  .links {
    background: transparent;
  }

  .examplesHeader {
    display: flex;
    position: relative;
    align-self: center;
    margin-bottom: -2.5rem;
  }

@media (max-width:800px) {
    .navBar {
        overflow: hidden;
        scrollbar-width: none;
    }
}

@media (max-width:1000px) {
    .navBar {
        height: 48%;
        overflow: hidden;
        scrollbar-width: none;
    }
    .buttonRow {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        scale: .9;
        margin: 0%;
        gap: 5px;
        margin-bottom: 10px;
    }
    .menuButton {
        width: 80px;
    }
    .contactMe {
        margin: 0%
    }

}  