.navBar {
    display: flex;
    position: relative;
    min-width: 20rem;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.5rem;
    gap: 15px;
    background: rgb(231, 231, 231);
}

.header {
    display: flex;
    width: fit-content;
    background-image: none;
    font-size: 1.5rem;
    background: black;
    color: rgb(231, 231, 231);
}

.text {
    display: flex;
    background: black;
    border-bottom-right-radius: 5px;
}

/* @keyframes color-change {
    0% { color: #031497; }
    50% { color: black; }
    100% { color: #031497; }
  } */

.menuButton {
    position: relative;
    color: rgb(231, 231, 231);
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    z-index: 1;
    background: black;
}
.menuButton:hover {
    scale: 1.02;
    outline: none;
    cursor: pointer;
}

  .buttonRow {
    display: flex;
    position: relative;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    top: 5%;
    align-self: center;
    background: transparent;
    padding: 20px;
    gap: 20px;
  }

  .contactMe {
    display: flex;
    position: relative;
    font-size: 1.2rem;
    align-self: center;
    margin-top: 5%;
  }

  .links {
    background: transparent;
  }


/* @media (max-width:1441px) {
    .dropdownDiv {
        margin-right: 60rem;
    }
} */

@media (max-width:800px) {
    .navBar {
        scale: .85;
        height: 100vh;
        overflow: scroll;
        scrollbar-width: none;
    }
}

@media (max-width:1000px) {
    .navBar {
        scale: .85;
        height: 100vh;
        overflow: scroll;
        scrollbar-width: none;
    }
}

/* @media (max-height:1000px) {
    .navBar {
        scale: .85;
        height: 100vh;
        overflow: scroll;
        scrollbar-width: none;
    }
}

@media (max-height:800px) {
    .navBar {
        scale: .85;
        height: 100vh;
        overflow: scroll;
        scrollbar-width: none;
    }
} */
  