.navBar {
    display: flex;
    position: relative;
    min-width: 20rem;
    height: 100vh;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.5rem;
    gap: 50px;
    background: rgb(231, 231, 231);
}

.header {
    display: flex;
    width: fit-content;
    background-image: none;
    font-size: 1.5rem;
    background: black;
    color: rgb(231, 231, 231);
}

.text {
    display: flex;
    background: black;
    border-bottom-right-radius: 5px;
}

/* @keyframes color-change {
    0% { color: #031497; }
    50% { color: black; }
    100% { color: #031497; }
  } */

.menuButton {
    position: relative;
    color: rgb(231, 231, 231);
    border: none;
    border-radius: 5px;
    width: 7.2rem;
    height: 2.6rem;
    z-index: 1;
    background: black;
}
.menuButton:hover {
    scale: 1.02;
    outline: none;
    cursor: pointer;
}

  .buttonRow {
    display: flex;
    position: relative;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    top: 2%;
    align-self: center;
    background: transparent;
    gap: 15px;
    /* min-height: 100%; */
  }

  .contactMe {
    display: flex;
    position: relative;
    font-size: 1.2rem;
    align-self: center;
    margin-top: 5%;
  }

  .links {
    background: transparent;
  }


/* @media (max-width:1441px) {
    .dropdownDiv {
        margin-right: 60rem;
    }
} */

@media (max-width:800px) {
    .navBar {
        height: 40vh;
        overflow: scroll;
        scrollbar-width: none;
    }
}

@media (max-width:1000px) {
    .navBar {
        height: 45vh;
        overflow: scroll;
        scrollbar-width: none;
    }
    .buttonRow {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin: 0%;
    }
    .contactMe {
        margin: 0%
    }


}  