.pixelArtContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content:flex-start;
    justify-content: center;
    width: 80%;
    min-width: 1200px;
    max-width: 1200px;
    overflow: hidden;
    font-size: 1.5rem;
    height: 1000px;
    background-color: transparent;
    color: black;
    margin: 5rem;
}

.pixelCanvas {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: none;
    width: 100%;
    min-width: 50%;
    max-width: 1000px;
    justify-content: center;
    background-color: white;
    margin-top: -5rem;
}

.pixelCanvas>* {
    flex: 0 0 1%;
    
}
.swatch {
    margin: 10px 0px 0px 0px;
}

.artButtons {
    height: 20px;
    aspect-ratio: 1 / 1;
}

.paragraph {
    position: relative;
    margin: 20px;
    width: 100%;
}

.sampleTwo {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    text-indent: 1rem;
    font-size: 1.5rem;
    color: black;
    transition: all 2s ease-in-out;
    background: transparent;
    position: relative;
    align-self: flex-start;
    margin-left: 5%;
}

.sampleTwoText {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin-left: 10rem;
    height: fit-content;
    align-self: center;
}

.pallet {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    position: relative;
    margin: 1rem;
}

.resetButton {
    border: none;
    max-width: 50px;
    min-height: 30px;
    width: 50px;
    height: 30px;
    text-align: center;
    box-shadow: 0px 0px 5px 5px gray;
    font-family: 'PT Sans Narrow', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

  .samplesContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: 1000px;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: transparent;
    background-image: url("../public/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    align-items: center;
    overflow: scroll;
    scrollbar-width: none;
}

.appContainer {
    display: flex;
    flex-direction: row;
    width: 100vmax;
    height: 100vh;
}


@media(max-width:600px) {
    .pixelArtContainer {
        min-width: 800px;
    }
    .pixelCanvas {
        min-width: 800px;
    }
    
}

@media(max-width:1100px) {
    .appContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .pixelArtContainer {
        height: fit-content;
        flex-direction: column;
        align-content: flex-start;
    }
    .artButtons {
        height: 10px;
        aspect-ratio: 1 / 1;
    }
    .pixelCanvas {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      gap: none;
      width: 50%;
      min-width: 50%;
      max-width: 50%;
      background-color: white;
      height: fit-content;
      min-height: fit-content;
    }
    .sampleTwoText {
        width: 500px;
        margin-bottom: -50px;
    }
    .paragraph {
        font-size: 1rem;
        margin-left: 10rem;
    }
}