.pixelArtContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.pixelCanvas {
    display: flex;
    flex-wrap: wrap;
    gap: none;
    width: 100%;
    min-width: fit-content;
    margin-left: 10%;
    margin-right: 10%;
    height: fit-content;
    justify-content: center;
}

.pixelCanvas>* {
    flex: 0 0 2%;
    
}

.artButtons {
    border-radius: 2px;
    background-color: whitesmoke;
    border: 1px solid rgb(161, 161, 161);
    height: 1vw;
    aspect-ratio: 1 / 1;
}

.openBoardButton {
    border: none;
    width: 50px;
    height: 30px;
    text-align: center;
    box-shadow: 0px 0px 5px 5px gray;
    font-family: 'PT Sans Narrow', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px ;
}

.openBoardButton:hover {
    cursor: pointer;
    scale: 1.05;
}

.openBoardButton:active {
    scale: .98;
}