.pixelArtContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 80%;
    min-width: 1200px;
    overflow: hidden;
    font-size: 1.5rem;
    height: fit-content;
    background-color: transparent;
    color: black;
}

.pixelCanvas {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: none;
    width: 100%;
    min-width: 1200px;
    max-width: 1200px;
    height: fit-content;
    justify-content: center;
    background-color: white;
}

.pixelCanvas>* {
    flex: 1 0 1%;
    
}
.swatch {
    margin: 10px 0px 0px 0px;
}

.artButtons {
    height: 20px;
    aspect-ratio: 1 / 1;
}

.paragraph {
    margin: 20px;
    width: 500px;
}

.sampleTwo {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: fit-content;
    text-indent: 1rem;
    font-size: 1.5rem;
    color: black;
    transition: all 2s ease-in-out;
    background: transparent;
    position: relative;
    align-self: flex-start;
    margin-left: 5%;
}

.sampleTwoText {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin-left: 10rem;
    height: fit-content;
    align-self: center;
}

.pallet {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    position: relative;
}

.resetButton {
    border: none;
    max-width: 50px;
    min-height: 30px;
    width: 50px;
    height: 30px;
    text-align: center;
    box-shadow: 0px 0px 5px 5px gray;
    font-family: 'PT Sans Narrow', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

  .samplesContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: 100%;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: transparent;
    background-image: url("../public/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    align-items: center;
    overflow: scroll;
    scrollbar-width: none;
}

.appContainer {
    display: flex;
    flex-direction: row;
    width: 100vmax;
    height: 100vh;
}


@media(max-width:600px) {
    .pixelArtContainer {
        min-width: 400px;
        /* scale: .8; */
    }
    .pixelCanvas {
        min-width: 400px;
    }
}

@media(max-width:1200px) {
    .pixelCanvas {
        /* scale: .8; */
        align-self: flex-start;
        align-content: flex-start;
    }
    .paragraph {
        width: 100%;
    }
    .sampleTwoText {
        width: 400px;
        margin-bottom: -50px;
    }
}


@media(max-width:1000px) {
    .pixelArtContainer {
        min-width: 800px;
        gap: 5%;
        margin-top: 50px;
        touch-action: auto;
    }
    .paragraph {
        font-size: 1rem;
        width: 500px;
        align-self: center;
    }
    .pixelCanvas {
        min-width: 800px;
        margin-bottom: -10%;
        margin-top: -5%;
    }
    .samplesContainer {
        width: 100%;
        font-size: 1.5rem;
        height: fit-content;
    }
    .aboutText {
        width: 100%;
    }
    .appContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .resetButton {
        margin-bottom: 20%;
    }
    .pallet {
        margin-top: 15%;
    }
}