.samplesContainer {
    display: flex;
    width: 100vw;
    height: 80%;
    flex-wrap: wrap;
    font-family: 'PT Sans Narrow', sans-serif;
    align-content: center;
    justify-content: center;
    background-color: white;
    color: black;
    gap: 5%;
}

.sampleOne {
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 50%;
    height: 50%;
    box-shadow: 0px 0px 10px 25px gray;
    text-indent: 1rem;
    padding: 5px;
}

.sampleOneText {
    display: flex;
    width: 100%;
}

.counterDiv {    
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}

.sampleOneButtons {
    display: flex;
    align-self: center;
    justify-self: center;
    height: 100px;
    margin-top: 10px;
    gap: 10px;
}

.button {
    border: none;
    width: 50px;
    height: 30px;
    text-align: center;
    box-shadow: 0px 0px 5px 5px gray;
    font-family: 'PT Sans Narrow', sans-serif;
}

.button:hover {
    cursor: pointer;
    scale: 1.05;
}

.button:active {
    scale: .99;
}

.sampleTwo {
    display: flexbox;
    align-self: center;
    width: 50.5%;
    height: 100%;
    box-shadow: 0px 0px 10px 25px gray;
    text-indent: 1rem;
    margin: 60px;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.sampleTwo::-webkit-scrollbar {
    display: none; /* this is for Chrome, mac stuff */
  }

.sampleTwoText {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}