.samplesContainer {
    display: flex;
    width: 100vw;
    height: 80%;
    flex-wrap: wrap;
    font-family: 'PT Sans Narrow', sans-serif;
    align-content: center;
    justify-content: center;
    background-color: white;
    color: black;
}

.statement {
    display: flexbox;
    border-radius: 10px;
    align-self: center;
    width: 50.5%;
    height: 100px;
    box-shadow: 0px 0px 10px 25px gray;
    text-indent: 1rem;
    margin: 60px;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.paragraph {
    margin: 10px;
}
