.appContainer {
    display: flex;
    flex-direction: row;
    width: 100vmax;
    height: 100vh;
}

.samplesContainer {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
    height: 100%;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: transparent;
    background-image: url("../public/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    overflow: scroll;
    scrollbar-width: none;
}

.menuButton {
    font-family: 'PT Sans Narrow', sans-serif;
    position: relative;
    color: black;
    border: none;
    border-radius: 5px;
    width: 75px;
    height: 50px;
    z-index: 1;
    background: transparent;
    margin: 20px;
}
.menuButton:hover {
    scale: 1.02;
    outline: none;
    cursor: pointer;
}

.statement {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: fit-content;
    text-indent: 1rem;
    font-size: 2rem;
    color: white;
    overflow: hidden;
    transition: all 2s ease-in-out;
    background: transparent;
    position: relative;
    background: rgb(0, 0, 0, .8);
    border-radius: 10px;
}

.paragraph {
    margin: 50px;
}

@media(max-width:1100px) {
    .samplesContainer {
        width: 100%;
        font-size: 1rem;
        height: fit-content;
    }
    .paragraph {
        font-size: 1rem;
    }
    .aboutText {
        width: 100%;
        font-size: 1rem;
    }
    .appContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100%;
    }
}