.sampleOne {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: fit-content;
    text-indent: 1rem;
    font-size: 2rem;
    color: black;
    transition: all 2s ease-in-out;
    touch-action: auto;
    background: transparent;
    position: relative;
    border-radius: 10px;
    align-self: flex-start;
    margin-left: 5%;
}

/* .sampleOne:hover {
    touch-action: auto;
    transform: scale(1.4);
    transition: all 2s ease-in-out;
    box-shadow: 0px 0px 5px 5px #d325ff;
    background-color: rgb(3, 3, 3, .9);
    height: fit-content;
    z-index: 1;
  } */

.sampleOneText {
    display: flex;
    color: white;
    width: 100%;
    margin: 10px;
}

.paragraph {
    margin: 50px;
    color: black;
    font-size: 1.5rem;
}

.counterDiv {    
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 43%;
}

.sampleOneButtons {
    display: flex;
    align-self: center;
    justify-self: center;
    height: 100px;
    margin-top: 10px;
    gap: 10px;
}

.button {
    border: none;
    max-width: 50px;
    min-height: 30px;
    width: 50px;
    height: 30px;
    text-align: center;
    box-shadow: 0px 0px 5px 5px gray;
    font-family: 'PT Sans Narrow', sans-serif;
}

.button:hover {
    cursor: pointer;
    scale: 1.05;
}

.button:active {
    scale: .99;
}

.samplesContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: 100%;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: transparent;
    background-image: url("../public/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    /* position: relative; */
    align-items: center;
    overflow: scroll;
    scrollbar-width: none;
}

.appContainer {
    display: flex;
    flex-direction: row;
    width: 100vmax;
    height: 100vh;
}