.todoContainer {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: fit-content;
    text-indent: 1rem;
    font-size: 2rem;
    color: black;
    transition: all 2s ease-in-out;
    background: transparent;
    position: relative;
    border-radius: 10px;
    align-self: flex-start;
    margin-left: 5%;
}

.inputField {
    align-self: center;
    justify-self: center;
    width: 75%;
    min-width: 50px;
    height: 20px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.inputField:focus {
    border: 2px solid black;
    outline: none;
}

.ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    flex-wrap: wrap;
}

.paragraph {
    margin: 50px;
    font-size: 1.5rem;
}

.editsvg {
    position: absolute;
    cursor: pointer;
    width: 40px;
    height: 100%;
    height: 40px;
    margin-top: -5px;
    left: 85%;
}

.svg {
    position: absolute;
    left: 92%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: 8px;
}

.bullets {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    margin: 15px;
    font-size: 1.5rem;
}

.todoCheckbox {
    position: relative;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.samplesContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: 100%;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: transparent;
    background-image: url("../public/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    align-items: center;
    overflow: scroll;
    scrollbar-width: none;
}

.appContainer {
    display: flex;
    flex-direction: row;
    width: 100vmax;
    height: 100vh;
}

@media(max-width:1100px) {
    .samplesContainer {
        width: 100%;
        height: 100vh;
    }
    .paragraph {
        font-size: 1rem;
        width: 300px;
        align-self: center;
    }
    .text {
        width: 300px;
    }
    .appContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .todoContainer {
        align-self: center;
    }
}