.todoContainer {
    display: flex;
    flex-direction: column;
    margin: 100px 30% 0% 0%;
    align-self: center;
    /* justify-self: right; */
    width: 50.5%;
    height: 10rem;
    box-shadow: 0px 0px 25px 10px #9bcfff;
    text-indent: 1rem;
    font-size: 2rem;
    background: white;
    color: black    ;
    overflow: hidden;
    transition: all 2s ease-in-out;
    touch-action: auto; 
}

.todoContainer:hover {
    touch-action: auto;
    transform: scale(1.2);
    /* transition: background-color 5s ease-in-out 100ms, color 3s ease-in-out; */
    transition: all 2s ease-in-out;
    box-shadow: 0px 0px 50px 10px #5fb1ff;
    height: 37rem;
    z-index: 1;
    margin: 100px 0% 0% 0%;
  }

.inputField {
    align-self: center;
    justify-self: center;
    width: 600px;
    min-width: 300px;
    height: 20px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}

.inputField:focus {
    border: 2px solid black;
    outline: none;
}

.ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    flex-wrap: wrap;
}

.paragraph {
    margin: 50px;
}

.svg {
    position: absolute;
    left: 95%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: -5px;
}

.bullets {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    margin: 15px;
    font-size: 1.5rem;
}

.todoCheckbox {
    position: relative;
    /* top: 15px; */
    height: 25px;
    width: 25px;
    background-color: #eee;
}



@media(max-width:1441px){
    .todoContainer {
        width: 100%;
        height: fit-content;
    }
    }
    @media(max-width:801px){
        .todoContainer{
        width: 100%;
        height: fit-content;
        }
        
    }
    @media(max-width:601px){
        .todoContainer{
            width: 100%;
            height: fit-content;
            }
    }